version: '3.6'

services:
  task_database:
    image: mariadb:latest
    container_name: task_database
    restart: always
    environment:
      MYSQL_USER: e-edu
      MYSQL_PASSWORD: e-edu
      MYSQL_DATABASE: e-edu
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
    ports:
      - 3306:3306
    volumes:
      - ./task-microservice-mariadb-data:/var/lib/mysql

  redis:
    image: redis
    command: redis-server
    restart: always
    expose:
      - "6379"
    volumes:
      - "./redis:/data"

  influxdb:
    image: influxdb:latest
    ports:
      - "8086:8086"

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    user: "0"
    links:
      - influxdb
    volumes:
      - /srv/docker/grafana/data:/var/lib/grafana

  task:
    image: eedu/taskms
    container_name: task
    restart: always
    ports:
      - 80:80
    environment:
      DATABASE_HOSTNAME: task_database
      DATABASE_PORT: 3306
      DATABASE_USERNAME: e-edu
      DATABASE_PASSWORD: e-edu
      DATABASE_DATABASE: e-edu
      JWT_SECRET: SECRET
      SERVICE_SECRET: SECRET
      PRODUCTIVE: "false"
      SENTRY_ENABLED: "${SENTRY_ENABLED}"
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_ENABLED: "true"
      INFLUX_URI: "http://influxdb:8086"
      INFLUX_USERNAME: 0
      INFLUX_PASSWORD: ""
      INFLUX_DB: "task"
      INFLUX_STEP: "1m"
      INFLUX_ENABLED: "true"
