version: '3.6'

services:
  task_database:
    image: mariadb:latest
    container_name: task_database
    restart: always
    environment:
      MYSQL_USER: e-edu
      MYSQL_PASSWORD: e-edu
      MYSQL_DATABASE: e-edu
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
    ports:
      - 3306:3306
    volumes:
      - ./task-microservice-mariadb-data:/var/lib/mysql

  task:
    image: eedu/taskms
    container_name: task
    restart: always
    ports:
      - 5000:5000
    environment:
      DATABASE_HOSTNAME: task_database
      DATABASE_PORT: 3306
      DATABASE_USERNAME: e-edu
      DATABASE_PASSWORD: e-edu
      DATABASE_DATABASE: e-edu
      JWT_SECRET: SECRET
      SERVICE_SECRET: SECRET

