name: Docker Build

on:
  push:
    branches:
      - master

jobs:
  compile:
    runs-on: self-hosted
    name: Build & Docker Push
    steps:
      - uses: actions/checkout@master
      - name: Setup java
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - run: mvn clean install

      - name: Docker Build & Push
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: eedu/taskms
          tags: latest
